# Golang specific gitignore

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
app

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# IDE-specific files
.idea/
.vscode/

# Compiled Object files
*.o
*.a

# Logs
*.log

# Environment files
.env

# Mac system files
.DS_Store
__debug_*